<div class="row maxHeight">

	<p id="logo"><img src="assets/logo-tiniworld.png" alt=""></p>

  <div id="promo-video">
  	<video width="620" height="540" controls autoplay loop>
  		<source src="assets/barbie_fashionistas.mp4" type="video/mp4">
      <source src="assets/dreamit-beit-Mattel.mp4" type="video/mp4">
      <source src="assets/dreamit-beit-Viral_Magon.mp4" type="video/mp4">
      <source src="assets/dreamit-beit-Viral_Thanh_Truc.mp4" type="video/mp4">
		  Your browser does not support the video tag.
	</video>
  </div>


</div>