<div class="row maxHeight">
	This is the landing screen!

	<p id="logo"><img src="assets/logo-tiniworld.png" alt=""></p>

	<ul class="test">
		  	someing

        <li ng-repeat="todo in todoList.todos">
      
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
    </ul>


{{message}}

  <div id="promo-video">
  	<video width="420" height="340" controls autoplay>
  		<source src="assets/barbie_fashionistas.mp4" type="video/mp4">
  		<source src="assets/movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	</video>
  </div>


</div>